main, body {
    margin: 0px;
    font-family: sans-serif;
    --vg_pink: #ff6699;
    --vg_light_pink: #ff66ee;
    --vg_gray: #3a3a3a;
    --vg_dark_gray: #2a2a2a;
    --vg_light_gray: #4a4a4a;
    background-color: var(--vg_dark_gray);
}

h1 {
    color: var(--vg_pink);
    font-family: sans-serif;
    text-align: center;
}

#main-heading {
    text-align: center;
}

#slogan{
    color: lightgray;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#main-link         { 
    font-size: 100px;
    font-family: 'Saira Stencil One', cursive;
    transition: 0.1s; 
    text-decoration: none; 
    color: var(--vg_pink)
}
#main-link:visited { text-decoration: none; color: var(--vg_pink);}
#main-link:hover   { text-decoration: none; color: white;}

#link-copy-holder{
    display: flex;
    padding: 10px;
    justify-content: center;
}

#link-copy-text{
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    width: 38ch;
    background-color: black;
    color: var(--vg_pink);
    text-align: center;
    border: none;
}

#clipboard-svg-holder{
    display: inline-block;
}

#clipboard-svg{
    filter: invert(80%) sepia(55%) saturate(6314%) hue-rotate(304deg) brightness(101%) contrast(101%);
    cursor: pointer;
    display: inline;
    margin: auto;
}

#clipboard-svg:hover{
    transition: 0.1s;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(234deg) brightness(107%) contrast(102%);
}

#sections{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.poll-section{
    background-color: var(--vg_light_gray);
    color: white;
    border-radius: 10px;
    border: 4px solid darkgray;
    width: 25%;
    min-width: 500px;
    margin: 15px;
    padding: 15px;
}

#create-poll{
    background-color: var(--vg_pink);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    font-family: sans-serif;

    display: block;
    margin: auto;
    cursor: pointer;
}

#create-poll:hover{
    transition: 0.2s;
    background-color: var(--vg_light_pink);
}

#create-poll:disabled{
    background-color: gray;
    cursor: default;
}

#input-holder{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 25px;
}

#option-input{
    font-size: 25px;
    font-style: bold;
    width: 75%;
    display: inline;
}

#add-option-button{
    font-size: 25px;
    background-color: var(--vg_pink);
    color: white;
    border-radius: 5px;
    border: 2px solid white;
    cursor: pointer;
    display: inline;
}

#add-option-button:hover{
    transition: 0.2s;
    background-color: var(--vg_light_pink);
}

#add-option-button:disabled{
    background-color: gray;
    cursor: default;
}

.poll-option{
    color: white;
    font-size: 20px;
    font-style: bold;
    font-family: sans-serif;
    text-align: center;
}

.poll-option:hover{
    transition: 0.1s;
    color: red;
}

.poll-option-holder{
    /* width: 50%; */
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.options-preset {
    display: block;
    background-color: var(--vg_pink);
    color: white;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 4px;

    font-size: large;
}

.options-preset:hover{
    transition: 0.1s;
    color: black;
}

#vote-options{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.vote-option{
    display: block;
    background-color: var(--vg_pink);
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px;
    font-size: xx-large;
}

.vote-option:hover{
    transition: 0.1s;
    color: black;
}

#poll-data-holder{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    align-content: space-between;
}

.poll-data-entry{
    font-family: sans-serif;
}

.poll-data-entry-name, .poll-data-entry-value{
    display: inline-block;
    font-size: large;
    margin: 10px;
    padding: 10px;
}
.poll-data-entry-name{
    background-color: var(--vg_pink);
    color: white;
    margin-right: 0px;
    border-radius: 5px 0px 0px 5px;
}

.poll-data-entry-value{
    background-color: var(--vg_gray);
    color: white;
    margin-left: 0px;
    border-radius: 0px 5px 5px 0px;
}

#poll-metrics-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;

}

.poll-metric{
    display: inline-block;
    margin: 7px;
    
    color: white;
    font-size: x-large;
    text-align: center;
    border-radius: 5px;
}

.poll-metric-title{
    font-size: large;
    padding: 7px;
    background: var(--vg_gray);
    border-radius: 5px 5px 0px 0px;
}

.poll-metric-value{
    padding: 7px;
    background: var(--vg_pink);
    border-radius: 0px 0px 5px 5px;
}